
@{
    ViewBag.Title = "Index";
}
<h1>jello</h1>
<h2>Index</h2>
<p>
    你好<br />
    嗨
    <u>alice</u>
</p>
<u>alice</u>
@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{
    <div>
        帳號:@Html.TextBox("account")<br />
        密碼:@Html.Password("password")<br />
        年齡:<input type="number" name="fname3" value=""><br />
        性別:@Html.RadioButton("gender", "A")男生
             @Html.RadioButton("gender", "B")女生<br />
        興趣:@Html.CheckBox("swimming") 游泳
             @Html.CheckBox("reading") 看書<br />
        關於我:@Html.TextArea("about")
    </div>
}
@{
    var message = "hi";
    var isStudent = false;
}
<p>@message</p>
<p>@DateTime.Now</p>
@if(isStudent)
{
<p>是學生</p>

}
else{
<p>不是學生</p>
}
<h2>1~10</h2>
@for(int i = 1; i < 11; i++)
{
   <p>@i</p>
}



